<header>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="nav-list"><a href="/">Shop</a></li>
      <li class="nav-list"><a href="/admin/add-product">Add Product</a></li>
    </ul>
  </nav>
</header>
